@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


:root {
    --primary: #4d90ad;
    --secondary: #b6b6b6;
    --accent: #aeced9;
    --banner: #c6e3e7;
  }

  body {
    font-family: "Cabin";
  }

  nav {
    background-color: var(--primary);
    font-family: "Cabin";
  }

  #hero {
    height: 600px;
    background-color: var(--banner);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/pexels-katja-burger-265554662-12738948.jpg);
    background-size: cover;
    font-family: "Cabin";
    color: white;
  }

  .custom-btn-1 {
    background-color: var(--primary);
    color: white;
  }

  .custom-btn-1:hover, .custom-btn-1:focus {
    background-color: white;
    color: var(--primary);

  }

  #section-1 {
    background-color: var(--secondary);
  }

  .section-1-text {
    color: white;
  }

  #section-2 {
    background-color: var(--accent);
    color: white;
  }

  #section-3 {
    background-color: white;
  }

  .product-1 {
    background-color: var(--secondary);
    color: white;
  }

  .section-3-h2 {
    color: white;
  }

  #section-5 {
    background-color: var(--accent);
  }

  h2 {
    color: var(--primary);
  }

  .quiz {
    color: white;
  }

  h4 {
    color: var(--accent);
  }

  #footer {
    background-color: var(--primary);
    font-size: small;
  }

  .custom-btn-2 {
    background-color: var(--accent);
    color: white;
  }

  .custom-btn-2:hover, .custom-btn-2:focus {
    background-color: var(--secondary);
  }

  .sample-product-1-bg {
    background-color: white;
  }
  .sample-product-2-bg {
    background-color: white;
  }
  
  .section-5-h2 {
    color: white;
  }



  




 